resources/XMLSchema/KnCustomLinkC02.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:simpleType name="AFASRowAction"><xsd:restriction base="xsd:string"><xsd:enumeration value="insert"/><xsd:enumeration value="update"/><xsd:enumeration value="delete"/></xsd:restriction></xsd:simpleType><xsd:element name="KnCustomLinkC02"><xsd:complexType><xsd:sequence><xsd:element name="Element" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="Fields" minOccurs="0"><xsd:complexType><xsd:sequence><!--Volgnummer--><xsd:element name="SqNo" minOccurs="0" type="xsd:long" nillable="true"/><!--Vergelijken op--><!--Values:  KNOGA:Organisatie   KNPER:Persoon   KNUSR:Gebruiker   KNSRE:Verkooprelatie   KNPRE:Inkooprelatie   KNEMP:Medewerker   HRAPL:Sollicitant   TXCLI:Cliënt IB   TXCOM:Cliënt VPB   TXACC:Accountant   TXINS:Inspectie   HREMR:Werkgever   HRACY:Instantie   KNCDT:Contact   KNCD2:ContactData--><xsd:element name="ShId" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="5"/><xsd:minLength value="1"/></xsd:restriction></xsd:simpleType></xsd:element><!--Id--><xsd:element name="Id" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="255"/><xsd:minLength value="1"/></xsd:restriction></xsd:simpleType></xsd:element><!--Contactpersoon--><xsd:element name="BcIl" minOccurs="0" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="9"/><xsd:minLength value="1"/></xsd:restriction></xsd:simpleType></xsd:element><!--Afdeling contact--><xsd:element name="ExAd" minOccurs="0" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="255"/><xsd:minLength value="1"/></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence><xsd:attribute name="Action" use="required" type="AFASRowAction"/></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
